.relative .top p {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
}

.relative .top {
  min-width: 200px;
  max-width: 300px;
  top: -20px;
  left: 1.5rem;
  transform: translate(-30%, -100%);
  padding: 10px 20px;
  color: #ffffff;
  background-color: #e5765a;
  font-weight: normal;
  font-size: 14px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  display: none;
}

.relative .top.open {
  display: block;
}

.relative .top i {
  position: absolute;
  top: 100%;
  left: 30%;
  margin-left: -15px;
  width: 30px;
  height: 15px;
  overflow: hidden;
}

.relative .top i::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #e5765a;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
