.searchIllustration-st0 {
  opacity: 0.19;
  fill: #999999;
}
.searchIllustration-st1 {
  fill: #c67a6d;
}
.searchIllustration-st2 {
  fill: #ccd2d9;
}
.searchIllustration-st3 {
  fill: #3b455a;
}
.searchIllustration-st4 {
  fill: #3b455a;
}
.searchIllustration-st5 {
  fill: #fee7de;
}
.searchIllustration-st6 {
  fill: #f47e60;
}
.searchIllustration-st7 {
  fill: #acd9dd;
}
.searchIllustration-st8 {
  opacity: 0.14;
}
.searchIllustration-st9 {
  fill: #fffdf0;
}
.searchIllustration-st10 {
  fill: #393939;
}
.searchIllustration-st11 {
  opacity: 0.1;
  fill: #ffffff;
}
.searchIllustration-st12 {
  opacity: 0.1;
  fill: #000100;
}
.searchIllustration-st13 {
  fill: #f7f7f7;
}
.searchIllustration-st14 {
  fill: #efbfa5;
}
.searchIllustration-st15 {
  fill: #ebb044;
}
.searchIllustration-st16 {
  fill: #7fc5a3;
}
.searchIllustration-st17 {
  fill: #ebceb1;
}
.searchIllustration-st18 {
  fill: #d6c0b9;
}
.searchIllustration-st19 {
  opacity: 0.2;
}
.searchIllustration-st20 {
  fill: #fffff1;
}
.searchIllustration-st21 {
  opacity: 0.1;
}
.searchIllustration-st22 {
  opacity: 0.25;
}
.searchIllustration-st23 {
  fill: #d34e4e;
}
