.avatar {
  height: 60px;
  width: 180px;
  border-radius: 20%;
}

.bg-orange {
  background-color: #f47e60;
}

.btn-orange {
  color: #fff;
  background-color: #f47e60;
  border-color: #f47e60;
  box-shadow: 0 1px 1px rgba(0,0,0,.075);
}

.card-orange.card-outline {
  border-top: 3px solid #f47e60;
}

a {
  color: #f47e60;
}