@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(/public/fonts/Gilroy-ExtraBold.otf);
  font-weight: 400;
}

.itemNotFoundContainer .st0 {
  opacity: 0.19;
  fill: #999999;
  enable-background: new;
}
.itemNotFoundContainer .st1 {
  fill: #2a2a2a;
}
.itemNotFoundContainer .st2 {
  font-family: "Gilroy-ExtraBold";
}
.itemNotFoundContainer .st3 {
  font-size: 240.7662px;
}
.itemNotFoundContainer .st4 {
  letter-spacing: 5;
}
.itemNotFoundContainer .st5 {
  clip-path: url(#c);
}
.itemNotFoundContainer .st6 {
  fill: #5d5d5d;
}
.itemNotFoundContainer .st7 {
  fill: #4a4a4a;
}
.itemNotFoundContainer .st8 {
  fill: #767676;
}
.itemNotFoundContainer .st9 {
  fill: #3f3f3f;
}
.itemNotFoundContainer .st10 {
  fill: #e0e0e0;
}
.itemNotFoundContainer .st11 {
  fill: #bababa;
}
.itemNotFoundContainer .st12 {
  fill: #c2c2c2;
}
.itemNotFoundContainer .st13 {
  clip-path: url(#a);
}
