.itemNotFoundContainer .st0 {
  opacity: 0.19;
  fill: #999999;
  enable-background: new;
}
.itemNotFoundContainer .st1 {
  enable-background: new;
}
.itemNotFoundContainer .st2 {
  fill: #2a2a2a;
}
.itemNotFoundContainer .st3 {
  clip-path: url(#c);
}
.itemNotFoundContainer .st4 {
  fill: #5d5d5d;
}
.itemNotFoundContainer .st5 {
  fill: #4a4a4a;
}
.itemNotFoundContainer .st6 {
  fill: #767676;
}
.itemNotFoundContainer .st7 {
  fill: #3f3f3f;
}
.itemNotFoundContainer .st8 {
  fill: #e0e0e0;
}
.itemNotFoundContainer .st9 {
  fill: #bababa;
}
.itemNotFoundContainer .st10 {
  fill: #c2c2c2;
}
.itemNotFoundContainer .st11 {
  clip-path: url(#a);
}
