.newCarWrapper {
  margin-top: 5rem;
}

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.9rem;
  color: #dc3545;
  padding: 0.375rem 0.75rem;
}

.images-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.newCarWrapper label {
  /* display: flex; */
  /* align-items: center; */
  margin: 0;
  font-weight: 550;
  color: #333;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
}

.newCarWrapper .form-control {
  font-weight: 500;
  width: 100%;
}

.form-control:disabled,
.form-control[readonly] {
  border-radius: none;
  background-color: #f4f4f4;
}

.newCarWrapper input {
  width: 100%;
}

.newCarWrapper h5 {
  font-size: 1.05rem;
  font-weight: 500;
  color: #999;
  text-transform: uppercase;
  border-bottom: 0;
}

.newCarWrapper .card {
  margin: 1rem 0;
  padding: 1rem;
}

.newCarWrapper .card .form-group {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 1rem;
}

.newCarWrapper .card .form-group:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.newCarWrapper .row {
  margin-left: 0;
  margin-right: 0;
}

.border-left {
  border-left: 1px solid #e6e6e6;
}

.newCarWrapper .btn {
  float: right;
  background-color: #f47e60;
  border-color: #f47e60;
}

.newCarWrapper .btn:after {
  content: "";
  display: block;
  clear: both;
}

.newCarWrapper .btn:hover {
  border-color: #f47e60;
}

.newCarWrapper .btn-secondary:focus {
  box-shadow: none;
}

.newCarWrapper .btn-secondary {
  background-color: white;
  border: 1px solid #f47e60;
  color: #f47e60;
}

.newCarWrapper .btn-secondary:hover {
  background-color: #f47e60;
  border: 1px solid white;
  color: white;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
  text-align: left;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
  background-color: #f47e60;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: #f47e60;
}

.react-datepicker__header {
  background-color: #f4f4f4;
  border-bottom: 1px solid #c7c7c7;
}

/* DROPZONE STYLES */

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 250px;
  border-width: 2px;
  border-color: #999;
  border-style: dashed;
  border-radius: 5px;
  transition: transform ease-in-out 0.2s;
}

.dropzone--active {
  /* transform: scale(1.1); */
  border-color: #c7c7c7;
}

.dropzone--active > * {
  display: none;
}

.imageUpload {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 250px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.imageUpload-info {
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  color: #999;
  font-weight: 400;
  padding: 0 2px 1rem;
  margin: 0;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 1rem;
  width: 300px;
  height: 250px;
  list-style-type: none;
  overflow: hidden;
}

.images-wrapper:last-child {
  margin-right: 0;
}

.imageWrapper img {
  display: block;
  width: auto;
  height: 100%;
}

.imageWrapper:hover {
  transform: scale(1.05);
  z-index: 99;
  transition: transfrom ease-in-out 0.2s;
  cursor: pointer;
  border: 1px solid white;
}

.imageUpload svg {
  width: 80px;
}

.imageUpload h5 {
  font-size: 1rem;
}

.delete-button {
  position: absolute;
  height: 20px;
  width: 20px;
  display: block;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-animation: in 0.2s;
}

.delete-button:hover {
  -webkit-animation: out 0.2s;
}

@-webkit-keyframes in {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
  }
}

@-webkit-keyframes out {
  0% {
    -webkit-transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}

.newCarWrapper .splitWords {
  margin: 0 2rem;
  z-index: 99;
  background-color: white;
  border: 2px solid white;
  color: #e6e6e6;
  font-size: 0.9rem;
}

@media (max-width: 575.98px) {
  .newCarWrapper {
    margin-top: 7rem;
  }

  .border-left {
    border-left: 0px !important;
    border-top: 1px solid #e6e6e6;
  }

  .pt-mobile {
    padding-top: 1rem;
  }

  .pb-mobile {
    padding-bottom: 1rem;
  }

  .newCarWrapper .btn {
    float: none;
    width: 100%;
  }
}

@media (min-width: 575.98px) and (max-width: 768px) {
  .newCarWrapper {
    margin-top: 7rem;
  }
}
