/* ================== GLOBAL STYLES ====================== */

/* @font-face {
  font-family: Cereal;
  src: url(/public/fonts/AirbnbCereal-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Cereal;
  src: url(/public/fonts/AirbnbCereal-Book.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Cereal;
  src: url(/public/fonts/AirbnbCereal-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Cereal;
  src: url(/public/fonts/AirbnbCereal-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Cereal;
  src: url(/public/fonts/AirbnbCereal-ExtraBold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Cereal;
  src: url(/public/fonts/AirbnbCereal-Black.ttf);
  font-weight: 800;
} */

@import url("https://fonts.googleapis.com/css?family=Roboto|Work+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

button:focus {
  border: none;
  outline: none;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/* ================== BASE STRUCTURE ====================== */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto ", Cereal, sans-serif, "Open Sans" !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "Roboto", Cereal "Open Sans", sans-serif !important;
}

html,
body {
  height: 100%;
  background-color: #333;
}

/* ================== MAIN PAGE STYLES ====================== */

.main-navigation {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  background-color: transparent;
  padding-bottom: 1rem;
}

.main-navigation * {
  background-color: transparent;
}

.nav-link--main {
  color: #333;
  padding: 1rem;
  font-weight: 700;
  /* color: rgba(255, 255, 255, 0.5); */
  /* background-color: transparent; */
  border-bottom: 0.25rem solid transparent;
}

.nav-link--main:hover,
.nav-link--main:focus {
  color: #6c757d;
  text-decoration: none;
  border-bottom-color: rgba(219, 122, 122, 0.25);
}

.nav-link--main a:focus {
  color: #333;
}

.nav-link--main.active {
  border-bottom-color: #f47e60;
  color: #333;
}

.col-lg-3 {
  margin-bottom: 1rem;
}

.main {
  height: 100%;
  color: #333;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main-wrapper {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 100vh;
}

.card {
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.card-image img {
  margin: 0px;
  height: 100%;
  width: auto;
  max-width: 1000px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.card:hover .card-image img {
  transform: scale(1.05);
}

.card-time {
  position: absolute;
  font-size: 12px;
  color: white;
  background-color: #f47e60;
  left: 2rem;
  top: 2rem;
  border: 3px solid #f47e60;
  border-radius: 3px;
}

.card-title {
  float: left;
  display: block;
  margin-bottom: 0;
  margin-right: 0.5rem;
  margin-top: 1rem;
  color: #333;
}

.card-title--sub {
  float: none;
  clear: both;
  margin-right: 0;
  color: #6c757d;
  /* text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.1); */
}
.card-title--price {
  float: right;
  font-size: 1.3rem;
  color: #e15b64;
  font-weight: 400;
  margin-right: 0;
}

.card-like {
  position: absolute;
  top: 1.7rem;
  color: #e15b64;
  right: 2rem;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-like i {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.card-like:hover i {
  transform: scale(1.2);
}

.main .form-control {
  border: none;
  font-weight: 700;
  -webkit-appearance: none;
}

.main select {
  cursor: pointer;
}

.main .form-control:focus {
  border: none;
  box-shadow: none;
}

.mobile-menu {
  display: none;
}

.mobile-menu:hover {
  cursor: pointer;
}

.relative i {
  position: absolute;
  top: 30%;
  right: 0;
}

.searchbar .relative i {
  top: 10%;
}

/* BUTTON STYLES */

.btn {
  border-color: #f47e60;
  background-color: #f47e60;
  color: white;
}

.btn:hover {
  border-color: #f47e60;
}

.btn-secondary:focus {
  box-shadow: none;
}

.btn-secondary {
  background-color: white;
  border: 1px solid #f47e60;
  color: #f47e60;
}

.btn-secondary:hover {
  background-color: #f47e60;
  border: 1px solid white;
  color: white;
}

/* ================== SIDEBAR ====================== */

.sidebar {
  padding: 1rem;
  background-color: white;
  border-radius: 0.25rem;
  height: 100%;
  width: 100%;
}

/* SCROLLER ANIMATION */

.scroll-down {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in 3s;
  transition: all 0.5s ease-in 3s;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  margin-left: -16px;
  display: block;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all 0.2s ease-in;
  width: 33px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/* SPINNER ANIMATION */
/* LOADING ICON */

.loading {
  /* margin-top: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.loading--grayscale .machine .small {
  fill: #4d4d4d;
}

.loading--grayscale .machine .medium {
  fill: #666666;
}

.loading--grayscale .machine .large {
  fill: #333;
}

.machine {
  width: 120px;
}

.machine .small {
  fill: #eec170;
}

.machine .large {
  fill: #f47e60;
}

.machine .medium {
  fill: #e15b64;
}

.small-shadow,
.medium-shadow,
.large-shadow {
  fill: rgba(0, 0, 0, 0.05);
}

.small {
  -webkit-animation: counter-rotation 2.5s infinite linear;
  -moz-animation: counter-rotation 2.5s infinite linear;
  -o-animation: counter-rotation 2.5s infinite linear;
  animation: counter-rotation 2.5s infinite linear;
  -webkit-transform-origin: 100.136px 225.345px;
  -ms-transform-origin: 100.136px 225.345px;
  transform-origin: 100.136px 225.345px;
}

.small-shadow {
  -webkit-animation: counter-rotation 2.5s infinite linear;
  -moz-animation: counter-rotation 2.5s infinite linear;
  -o-animation: counter-rotation 2.5s infinite linear;
  animation: counter-rotation 2.5s infinite linear;
  -webkit-transform-origin: 110.136px 235.345px;
  -ms-transform-origin: 110.136px 235.345px;
  transform-origin: 110.136px 235.345px;
}

.medium {
  -webkit-animation: rotation 3.75s infinite linear;
  -moz-animation: rotation 3.75s infinite linear;
  -o-animation: rotation 3.75s infinite linear;
  animation: rotation 3.75s infinite linear;
  -webkit-transform-origin: 254.675px 379.447px;
  -ms-transform-origin: 254.675px 379.447px;
  transform-origin: 254.675px 379.447px;
}

.medium-shadow {
  -webkit-animation: rotation 3.75s infinite linear;
  -moz-animation: rotation 3.75s infinite linear;
  -o-animation: rotation 3.75s infinite linear;
  animation: rotation 3.75s infinite linear;
  -webkit-transform-origin: 264.675px 389.447px;
  -ms-transform-origin: 264.675px 389.447px;
  transform-origin: 264.675px 389.447px;
}

.large {
  -webkit-animation: counter-rotation 5s infinite linear;
  -moz-animation: counter-rotation 5s infinite linear;
  -o-animation: counter-rotation 5s infinite linear;
  animation: counter-rotation 5s infinite linear;
  -webkit-transform-origin: 461.37px 173.694px;
  -ms-transform-origin: 461.37px 173.694px;
  transform-origin: 461.37px 173.694px;
}

.large-shadow {
  -webkit-animation: counter-rotation 5s infinite linear;
  -moz-animation: counter-rotation 5s infinite linear;
  -o-animation: counter-rotation 5s infinite linear;
  animation: counter-rotation 5s infinite linear;
  -webkit-transform-origin: 471.37px 183.694px;
  -ms-transform-origin: 471.37px 183.694px;
  transform-origin: 471.37px 183.694px;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes counter-rotation {
  from {
    -webkit-transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes counter-rotation {
  from {
    -moz-transform: rotate(359deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}
@-o-keyframes counter-rotation {
  from {
    -o-transform: rotate(359deg);
  }
  to {
    -o-transform: rotate(0deg);
  }
}
@keyframes counter-rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* LOGO */

.logo {
  fill: white;
  height: 80px;
  width: 60vh;
}

.logo.logo-orange {
  fill: #f47e60;
  transition: all linear 3s;
}

.logo.logo-red {
  fill: #eec170;
  transition: all linear 3s;
}

/* =========================== ETC ===========================  */

.map--size {
  height: 600px !important;
  margin-bottom: 15px;
}

/* =========================== UNIVERSAL MODIFIERS ===========================  */

.relative {
  position: relative;
  width: 100%;
}

.margin-top {
  margin-top: 1rem !important;
}

.margin-top--big {
  margin-top: 2rem !important;
}

.padding {
  padding: 1rem;
}

.padding-top {
  padding-top: 1rem !important;
}

.padding-bottom--big {
  padding-bottom: 7rem;
}

.margin-bottom {
  margin-bottom: 1rem !important;
}

.margin-bottom--big {
  margin-bottom: 2rem !important;
}

.clearfix {
  clear: both;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.fullHeight {
  height: 100vh;
}

.minHeight {
  min-height: 100vh;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.clearfix {
  clear: both;
}

.fullWidth {
  width: 100%;
}

/* ================== MEDIA QUERRIES ====================== */

@media (max-width: 450px) {
  .mobile-menu {
    display: block;
  }

  .m-hidden {
    display: none;
  }

  .scroll-down {
    bottom: 10px;
  }

  .machine {
    width: 50vmin;
  }
  .card-image {
    height: 220px;
  }
}

@media (min-width: 450px) and (max-width: 575.98px) {
  .scroll-down {
    bottom: 10px;
  }

  .card-image {
    height: 330px;
  }

  .mobile-menu {
    display: block;
  }

  .m-hidden {
    display: none;
  }

  .machine {
    width: 50vmin;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .card-image {
    height: 160px;
  }

  .scroll-down {
    bottom: 15px;
  }

  .machine {
    width: 20vmin;
  }

  .mobile-menu {
    display: block;
  }

  .m-hidden {
    display: none;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .card-image {
    height: 130px;
  }

  .card-title {
    font-size: 2.7vh;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-title {
    font-size: 2.8vh;
  }

  .card:hover {
    /* transform: scale(1.05); */
    /* /* background-color: #f5f9fc;  */
  }

  .card-image {
    height: 140px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card:hover {
    /* transform: scale(1.05); */
  }

  .card-image {
    height: 160px;
  }
}
