.index {
  background-image: url("/images/background.jpeg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  /* -webkit-box-shadow: inset 7px -30px 102px 12px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: inset 7px -30px 102px 12px rgba(0, 0, 0, 0.48);
  box-shadow: inset 7px -30px 102px 12px rgba(0, 0, 0, 0.48); */
}

.index-logo-wrapper {
  display: flex;
  flex-basis: 1;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.index-logo-wrapper-text {
  width: 50%;
  padding-left: 2rem;
  border-left: 1px solid gray;
}

.index-logo-wrapper-text > * {
  word-spacing: 100vw;
  text-align: left;
  text-transform: uppercase;
  color: white;
  font-size: 7vh;
}

.index-logo-wrapper-logo {
  width: 50%;
  padding-right: 2rem;
}

.index-logo-wrapper-logo > * {
  float: right;
  width: 50vh;
}

@media (max-width: 575.98px) {
  .index-logo-wrapper {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .index-logo-wrapper-text > * {
    font-size: 1rem;
    word-spacing: normal;
    border-bottom: 0;
    text-align: center;
    height: 100%;
    float: none;
  }

  .index-logo-wrapper-text {
    padding: 0;
    margin-top: 1rem;
    border: none;
    width: 100%;
    float: none;
  }

  .index-logo-wrapper-logo {
    padding-right: 0;
    width: 100%;
  }

  .index-logo-wrapper-logo > * {
    width: 210px;
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
    float: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .index-logo-wrapper {
    margin-bottom: 2rem;
  }

  .index-logo-wrapper-text > * {
    font-size: 5vh;
  }

  .index-logo-wrapper-logo > * {
    width: 25vh;
  }

  .index-logo-wrapper-logo {
    padding-right: 1rem;
  }

  .index-logo-wrapper-text {
    padding-left: 1rem;
  }
}

@media (min-width: 767.98px) and (max-width: 992px) {
  .index-logo-wrapper-logo {
    /* width: 50%; */
    padding-right: 2rem;
    padding-left: 3rem;
  }

  .index-logo-wrapper-logo > * {
    float: right;
    width: 30vh;
  }

  .index-logo-wrapper-text {
    width: 50%;
    padding-left: 2rem;
    border-left: 1px solid gray;
  }

  .index-logo-wrapper-text > * {
    word-spacing: 100vw;
    text-align: left;
    text-transform: uppercase;
    color: white;
    font-size: 4.5vh;
  }
}

/* @media (min-width: 992px) {
  .index-logo-wrapper-logo {
    padding-right: 2rem;
    padding-left: 3rem;
  }

  .index-logo-wrapper-logo > * {
    float: right;
    width: 250px;
  }

  .index-logo-wrapper-text {
    width: 50%;
    padding-left: 2rem;
    border-left: 1px solid gray;
  }

  .index-logo-wrapper-text > * {
    word-spacing: 100vw;
    text-align: left;
    text-transform: uppercase;
    color: white;
    font-size: 35px;
  }
} */
