<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Booking{% endblock %}</title>
        <meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#000000" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
            {{ encore_entry_link_tags('css/fontawesome-free') }}
            <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.5.1/hint.base.css"></link>
        {% endblock %}
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">
        {% block canonical_meta %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGwf3wXD5z0XqaolwPbRVRKGIkDnK5ql4&libraries=places"></script>
        {% endblock %}
    </body>
</html>
