/* ERROR SECTION */

.feed-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  overflow: hidden;
}

.feed-error-text {
  font-size: 1.3rem;
  font-weight: 300;
}

.feed-error-text--title {
  font-size: 1.5rem;
  font-weight: 300;
  color: #333;
}

.feed-error-text--description {
  width: auto;
  font-weight: 300;
  color: #999;
}

.semi-bold-text {
  font-weight: 400;
}

.feed-error-text {
  display: flex;
  flex-direction: column;
}

/* FORM STYLES */

.modal-form {
  display: flex;
  flex-wrap: wrap;
}

.modal-label {
  float: left;
  margin: 0;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.54);
  padding: 0.375rem 0;
}

.modal-input {
  font-weight: 500 !important;
  padding: 0.375rem 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  font-weight: 700;
  -webkit-appearance: none;
  border-radius: 0;
}

.modal-input:focus {
  box-shadow: none;
  outline: none;
}

.modal-input:disabled,
.modal-input[readonly] {
  border-radius: none;
  background-color: #f4f4f4;
}

.searchIllustration {
  width: 400px;
  height: auto;
}

.modal-form .invalid-feedback {
  margin: 0;
  padding-left: 0;
}

.invalid-input {
  border-color: #dc3545;
}

@media (max-width: 768px) {
  .searchIllustration {
    padding-left: 1rem;
  }

  .feed-error-text {
    font-size: 1rem;
  }

  .feed-error-text--title {
    font-size: 1.3rem;
  }
  .modal-form .col-sm-9.col-md-10 {
    padding: 0;
    margin: 0;
  }

  .newCarWrapper label {
    margin: 0;
    padding: 0;
  }
}
