.info {
  margin: 20px 20px 0 20px;
  text-shadow: 0 0 0 0;
  font-weight: 500;
}

.info__name {
  font-size: 3em;
}

.info__details {
  font-size: 2em;
}

.info__details-small {
  font-size: 0.6em;
  padding-top: 16px;
}

.info__comments {
  font-size: 0.5em;
  margin-bottom: 10px;
}

.reservation--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product .card:hover {
  transform: none;
}

.product-image {
  height: auto;
  width: 100%;
}

.product .card {
  padding-top: 15px;
}

.info-description {
  font-weight: 700;
  color: #4e4e4e;
  text-align: right;
}

.info-description--border {
  padding-top: 1rem;
}

.info-block {
  margin-top: 10px;
}

.info-price {
  position: relative;
  background-color: #ffffff;
  top: -50px;
  border-radius: 30px;
  text-align: center;
  padding: 30px 0 0 0;
  z-index: 100;
}

.info-p {
  margin-bottom: 0;
  text-align: left;
  font-weight: bold;
  font-size: 0.8em;
}

.info-comment {
  text-align: left;
}

.info-comment--border {
  padding-top: 1rem;
}

.info-comment--padding {
  padding-bottom: 2em;
}

.info-comment-input-border {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.info-dates {
  margin-top: 30px;
}

.info-button {
  width: 100%;
  margin-bottom: 10px;
}

.info-icon {
  padding-bottom: 6px;
  margin-right: 5px;
}

.info-price--small {
  font-size: 0.8em;
  margin-left: 3px;
}

.info-price--currency {
  font-family: Plantin, AmericanTypewriter-Condensed, Times New Roman, serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 0.8;
  margin: 15px 0 0 5px;
}

.info-price--value {
  font-size: 45px;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 0 5px;
}

.info--normal {
  margin-bottom: 20px;
  text-align: left;
}

.info--big {
  font-size: 2em;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
}

.light-text {
  font-weight: 300;
}

.info--relative {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.info-report {
  color: #4e4e4e;
  font-weight: 600;
  text-align: center;
}

.info-report:hover {
  color: #000000;
  cursor: pointer;
}

.info--newComment {
  text-align: center;
  padding-bottom: 60px;
}

.info--newComment p {
  color: #4e4e4e;
}

.info--newComment p:hover {
  color: #000000;
  cursor: pointer;
}

.info--owner i {
  margin-right: 10px;
}

.figure {
  overflow: hidden;
  margin: 0;
}

.carousel-control-next {
  opacity: 1;
}

.carousel-control-prev {
  opacity: 1;
}

.btn-warning {
  color: white;
  background-color: #f47e60;
  border-color: #f47e60;
}

.btn-comment {
  color: #f47e60;
  background-color: #ffffff;
  border: none;
  border-color: #f47e60;
  font-weight: 600;
  width: 100%;
  margin-bottom: 15px;
}

.btn-comment:hover {
  background-color: transparent !important;
  color: #f47e60;
  /* background-color: #f47e60; */
}

.info--envelope {
  margin-right: 5px;
}

.form-group-separate input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-group.form-group-separate textarea {
  margin: 10px 0 0 0;
}

.map--size {
  position: relative !important;
  height: 400px;
}

comment {
  margin-top: 40px;
}

.comment i {
  padding-top: 5px;
}

.comment-column--left {
  float: left;
  margin-right: 0.5rem;
  margin-top: -0.5rem;
}

.comment-column--right {
  float: left;
  width: 82%;
}

.comment--color-primary {
  color: #f47e60;
}

.comment--color-grey {
  color: #4e4e4e;
}

.comment-column p {
  padding-left: 5px;
}

.page-numbers {
  display: inline-block;
}

.page-numbers-li {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.info-dates label {
  float: left;
  margin: 0;
  color: #333;
  font-weight: 600;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
}

.info-dates .form-control {
  font-weight: 400;
  width: 100%;
  border: none;
  -webkit-appearance: none;
}

.form-control:focus {
  box-shadow: none;
}

.form-control:disabled,
.form-control[readonly] {
  border-radius: 0;
  background-color: #f4f4f4;
}

.info-dates input {
  width: 100%;
}

.info-dates .fa.fa-caret-down {
  right: 5px;
}

.pagination {
  display: inline-block;
  margin-bottom: 2em;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #f47e60;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  cursor: pointer;
}

.input--error {
  margin-top: 0.25rem;
  font-size: 0.9rem;
  color: #dc3545;
  text-align: left;
  margin-left: 5px;
}

.input--error-dates {
  text-align: center;
  margin-bottom: 5px;
}

.card-like--position {
  top: -1px;
  right: 0;
  display: inline;
  margin-left: 10px;
  position: relative;
  font-size: 1.7rem;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  justify-content: center;

  align-items: center;
  height: 500px !important;
  width: 100%;
  margin-bottom: -100px;
}

.carousel-item {
  height: 100%;
}

.info-report--small {
  display: none;
}

.container--margin-reduce {
  margin-top: -2em;
}

@media screen and (max-width: 1000px) {
  .info--big {
    white-space: pre-wrap;
  }

  .m--no-wrap {
    white-space: nowrap;
  }

  .info--newComment {
    padding-top: 1em;
    padding-bottom: 0;
  }

  .owner-info {
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .owner-info > p {
    min-width: 100%;
    padding-bottom: 0 !important;
  }

  .info {
    text-align: center;
  }

  .info-description {
    text-align: left;
  }

  .info--owner {
    border-bottom: 0;
  }

  .info--owner-raise {
    padding-bottom: 26px;
  }

  .product-image {
    height: 100%;
    width: auto;
    /* margin-bottom: -10%; */
  }

  .info-comment-input-border {
    margin-top: 30px;
  }

  .info-comment--border {
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .info-description--border {
    margin-top: 1rem;
    padding-top: 2rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .comment-column--left {
    margin-right: 1rem;
  }

  .info-price {
    top: 0;
  }

  .carousel-inner {
    height: 300px !important;
  }

  .info-report--small {
    display: block;
  }
}
