img {
  margin-top: 10px;
  max-width: 650px;
  height: auto;
}

.info {
  margin: 20px 20px 0 20px;
  text-shadow: 0 0 0 0;
  font-weight: 500;
}

.info__name {
  font-size: 3em;
}

.info__details {
  font-size: 2em;
}

.info__details-small {
  font-size: 0.6em;
  padding-top: 16px;
}

.info__comments {
  font-size: 0.5em;
  margin-bottom: 10px;
}

.reservation--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product .card:hover {
  transform: none;
}

.product-image {
  width: 100%;
  max-width: 100%;
  max-height: 600px;
  margin-bottom: -10%;
}

.info-description {
  color: #4e4e4e;
  text-align: right;
}

.info-block {
  margin-top: 10px;
}

.info-price {
  position: relative;
  background-color: #ffffff;
  top: -50px;
  border-radius: 30px;
  text-align: center;
  padding: 30px 0 0 0;
}

@media screen and (max-width: 1000px) {
  .info {
    text-align: center;
  }

  .info-description {
    text-align: center;
  }

  .info--normal {
    border-bottom: 1px solid #dcdcdc;
  }

  .info--owner {
    border-bottom: 0;
  }

  .info--owner-raise {
    padding-bottom: 26px;
  }
}

.info-p {
  margin-bottom: 0;
  text-align: left;
  font-weight: bold;
  font-size: 0.8em;
}

.info-dates {
  margin-top: 30px;
}

.info-button {
  width: 100%;
  margin-bottom: 10px;
}

.info-icon {
  padding-bottom: 6px;
  margin-right: 5px;
}

.info-price--small {
  font-size: 0.8em;
  margin-left: 3px;
}

.info-price--currency {
  font-family: Plantin, AmericanTypewriter-Condensed, Times New Roman, serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 0.8;
  margin: 15px 0 0 5px;
}

.info-price--value {
  font-size: 45px;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 0 5px;
}

.info--normal {
  margin-bottom: 20px;
}

.info--big {
  font-size: 1.8em;
}

.info--relative {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.info-report {
    color: #4e4e4e;
}

.info-report:hover {
    color: #000000;
    cursor: pointer;
}

.info--newComment {
    text-align: center;
    padding-bottom: 60px;
}

.info--newComment p {
    color: #4e4e4e;
}

.info--newComment p:hover {
    color: #000000;
    cursor: pointer;
}

.figure {
  overflow: hidden;
  margin: 0;
}

.input--stretch {
  width: 100%;
}

.carousel-control-next {
  opacity: 1;
}

.carousel-control-prev {
  opacity: 1;
}

.btn-warning {
  color: white;
  background-color: #f47e60;
  border-color: #f47e60;
}

.btn-warning:hover {
  background-color: #e15b64;
  color: white;
}

.info--envelope {
  margin-right: 5px;
}

.form-group-separate input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-group textarea {
  margin: 0;
}

.map--size {
  position: relative !important;
}

.comment i {
    padding-top: 5px;
}

.comment-column--left {
    float: left;
    width: 18%;
}

.comment-column--right {
    float: left;
    width: 82%;
}

.comment--color-primary {
    color: #f47e60;
}

.comment--color-grey {
    color: #4e4e4e;
}

.comment-column p {
    padding-left: 5px;
}
