img {
    margin-top: 10px;
    max-width: 650px;
    height: auto;
}

.info {
    margin: 20px;
    text-shadow: 0 0 0 0;
}

.info__name {
    font-size: 3em;
}

.info__details {
    font-size: 2em;
}

.info__details-small {
    font-size: 0.6em;
    padding-top: 16px;
}

.info__comments {
    font-size: 0.5em;
    margin-bottom: 10px;
}

.reservation--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}