<h3 style="color: #f47e60;">Mašina patalpinta sėkmingai!</h3>
<br/>
Sveiki, <br/>
<br/>
Jūsų skelbimas buvo patalpintas sėkmingai! Kai tik sulauksime rezervacijos, iškarto apie tai, jus informuosime el-paštu!<br/>
<br/>
Skelbimo redagavimui spauskite <a href="{{ url('home_feed_token', { 'token': car.token }) }}">čia</a>
<br/>
<br/>
--
Pagarbiai, CarBooking
https://carbooking.projektai.nfqakademija.lt