<h3 style="color: #f47e60;">Reikalingas el-pašto patvirtinimas!</h3>
<br/>
Sveiki, <br/>
<br/>
Ačiū, kad naudojatės Mūsų sistema! Galutiniam automobilio užsirezervavimui, Jums reikia patvirtinti el-paštą!<br/>
<br/>
El-pašto patvirtinimui paspauskite
<a href="{{ url('home_car_listing_by_id_plus_token', { 'id': booking.car.id, 'token': booking.token }) }}">čia</a>
<br/>
<br/>
--
Pagarbiai, CarBooking
https://carbooking.projektai.nfqakademija.lt