<h3 style="color: #f47e60;">Rezervacija buvo nepatvirtinta!</h3>
<br/>
Sveiki, <br/>
<br/>
norime Jus informuoti, kad dėja, bet Jūsų rezervacija <u>nebuvo patvirtinta</u> automobiliui -
<b><a href="{{ url('home_car_listing_by_id', { 'id': car.id }) }}">{{ car.brand.brand }}</a></b><br/>
<br/>
Siūlome užsukti į <a href="{{ url('home') }}">CarBooking</a> ir išsirinkti kitą Jums patikusį automobilį.
<br/>
<br/>
--<br/>
Pagarbiai, CarBooking<br/>
https://carbooking.projektai.nfqakademija.lt