<h3 style="color: #f47e60;">Įkeltas naujas automobilis, kurio ieškojote!</h3>
<br/>
Sveiki, <br/>
<br/>
Ką tik buvo įkeltas naujas automobilis, kuris atitinka kriterijus Jūsų prenumeratoje!<br/>
<a href="{{ url('home_car_listing_by_id', { 'id': car.id }) }}">Pamatyti automobilį...</a>
<br/>
<br/>
--<br/>
Pagarbiai, CarBooking<br/>
https://carbooking.projektai.nfqakademija.lt